<p>Hi,</p>
<p>{{ invited_by }} invited you to join {{ organisation }} on grund as {{ role_article }} {{ role }}.</p>
<p><a href="{{ link }}">Join {{ organisation }}</a></p>
<p>The link works once, for 7 days. If you were not expecting this, ignore this mail and nothing happens.</p>
<p>grund</p>
