Hi,

{{ invited_by }} invited you to join {{ organisation }} on grund as {{ role_article }} {{ role }}.

{{ link }}

The link works once, for 7 days. If you were not expecting this, ignore
this mail and nothing happens.

grund
