<p>Hi,</p>
<p>Someone tried to create a grund account with this email address, which already has one. If it was you, <a href="{{ login_link }}">sign in</a>, or <a href="{{ reset_link }}">reset your password</a> if you have forgotten it.</p>
<p>If it was not you, ignore this mail. Nothing has changed.</p>
<p>grund</p>
