Hi {{ username }},

Confirm your email address to finish creating your grund account:

{{ link }}

The link works once, for 24 hours. If you did not create an account, ignore
this mail and nothing happens.

grund
