{% extends "layout-app.html.jinja" %}
{% import "components/images.html.jinja" as images %}
{% set title = "Templates" %}
{% block content %}
{{ images.sprite(image_keys) }}
{{ ui.page_head("Templates") }}
{% call lists.items("grid") %}
{% for template in templates %}{{ lists.template_row(template, ("/" ~ org.slug ~ "/deploy?template=" ~ template.key) if org.manages else "") }}{% endfor %}
{% endcall %}
{% endblock %}
