<!doctype html>
{% import "components/icons.html.jinja" as icon_set %}
{% import "components/ui.html.jinja" as ui %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex, nofollow">
  <title>{% block title %}grund{% endblock %}</title>
  <link rel="stylesheet" href="{{ css_href }}">
  <link rel="icon" href="/static/favicon.svg" type="image/svg+xml">
  {% block scripts %}{% endblock %}
  {% block head %}{% endblock %}
</head>
<body>
{{ ui.skip_link() }}
{{ icon_set.sprite() }}
{% block body %}{% endblock %}
</body>
</html>
