{% extends "base.html.jinja" %}
{% import "components/ui.html.jinja" as ui %}
{% import "components/forms.html.jinja" as forms %}
{% import "components/lists.html.jinja" as lists %}
{% import "components/shell.html.jinja" as shell %}
{% block scripts %}<script src="{{ js_href }}" defer></script>{% endblock %}
{% block body %}
<div class="shell">
  {{ shell.sidebar(viewer, section, csrf) }}
  <div class="main">
    {{ shell.topbar(viewer, section, list if list is defined else none) }}
    <main class="content" id="main">
      {% block content %}{% endblock %}
    </main>
  </div>
</div>
{% endblock %}
